<?xml version="1.0"?>
<launch>
	<!-- acquisition arguments -->
		<arg name="plugin" default='rosneuro::EGDDevice'/>
		<arg name="devarg" default='$(env HOME)/Desktop/test16channels.gdf'/>
		<arg name="framerate"  default='16'/>
		<arg name="samplerate" default='512'/>

	<!-- processing arguments -->
		<arg name="lap_path"      default='$(env HOME)/Desktop/laplacian16.dat'/>
		<arg name="decoder_path"  default='$(env HOME)/Desktop/classifier16channels.dat'/>
		<arg name="n_channels"    default='16'/>

		<arg name="from"  	   default='/neurodata'/>
		<arg name="to" 		   default='/smrbci/neuroprediction'/>
		<arg name="maxlatency" default='62.5'/>



	<!-- Aquisition of the BMI signals -->
	<node name="acquisition" pkg="rosneuro_acquisition" type="acquisition" output="screen" >
		<param name="~plugin" 	  value="$(arg plugin)"/>
		<param name="~devarg" 	  value="$(arg devarg)"/>
		<param name="~samplerate" value="$(arg samplerate)"/>
		<param name="~framerate"  value="$(arg framerate)"/>
	</node>
	
  
	<!-- processing of the data -->
	<node name="smrbci" pkg="rosneuro_processing" type="test_smrbci" output="screen">
		<param name="~lap_path" value="$(arg lap_path)"/>
		<param name="~decoder_path" value="$(arg decoder_path)"/>
		<param name="~n_channels" value="$(arg n_channels)"/>
	</node>

	<node name="rosneuro_latency" pkg="rosneuro_monitor_latency" type="rosneuro_latency" output="screen" >
		<param name="~from" value="$(arg from)" />
		<param name="~to" value="$(arg to)" />
		<param name="~maxlatency" value="$(arg maxlatency)" />
	</node>
  

</launch>
